header{
    color: firebrick;
    font-family: 'Kaushan Script', cursive;
    background-color: cornsilk;
}

h3{
    font-family: 'Caesar Dressing', cursive;
}

.body{
    background-color: ghostwhite;
}

.btn{
    color: whitesmoke;
    background-color: lightslategrey;
}

#timeLeft{
    font-family: 'Press Start 2P', cursive;
    text-align: right;
}

#rules{
    margin-top:100px;
}