<div class="card" style="max-width: 18rem; min-width: 25%;">
    <div class="card-header bg-dark text-white text-center">
        <h3 class="card-title">${data.name}</h3>
        <h5 class="card-subtitle mb-2 text-white fas fa-graduation-cap">
            Intern</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID Number: ${data.id}</li>
            <li class="list-group-item">email: ${data.email}</li>
            <li class="list-group-item">school: ${data.school}</li>
        </ul>
    </div>
</div>
<div class="something-bizarre"></div>