/*my name brand defined seperate of rest of navbar*/
#brandname {
    width: 300px;
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 36px;
    font-family: 'Press Start 2P', cursive;
}

.container{
    background-color: whitesmoke;
    margin-top: 150px;
    margin-bottom: 90px;
}

a {
    color: black;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Acme', sans-serif;
}

.footer {
    height: 60px;
    background-color: midnightblue;
}

#header {
    background-color: midnightblue;
    margin-bottom: 10px;
}

.nav-link {
    color: white;
}

#footer-links {
    color: whitesmoke;
}

body {
    background: url("../images/prism.png");
}

.cardText {
    color: whitesmoke;
    font-weight: bold;
}

/*Define the differences in format for different widths of the screen
@media screen and (max-width: 576px) {
    #navLinks{
        justify-content: center;
    }
    #header {
        max-width: 540px;
    }
    .navbar-nav .nav-link{
        padding-right: 16px;
        padding-left: 16px;
    }
}
    
@media screen and (min-width: 576px){
    #navLinks{
        justify-content: flex-end;
    }
    #header {
        max-width: 540px;
    }
    #bioImage{
        width: 100%;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px){
    nav{
        max-width: 720px;
    }
    #bioImage{
        width: 100%;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 992px){
    #header {
        max-width: 960px;
    }
    #bioImage{
        width: 300px;
    }
}

@media screen and (min-width: 1200px){
    #bioImage{
        width: 400px;
    }
}*/





