.container{
    border: 3px solid black;
}

.title{
    font-family: 'Notable', sans-serif;
}

.btn{
    background-color: firebrick;
}

#contentContainer{
    background-color: whitesmoke;
    margin-top: 200px;
}

#background{
    background-image: url()
}