.container{
    border: 3px solid black;
    max-width: 700px;
    min-height: 400px;
}

.title{
    font-family: 'Notable', sans-serif;
}

.btn{
    background-color: firebrick;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

#contentContainer{
    background-color: whitesmoke;
    margin-top: 200px;
}

#background{
    background-image: url(../images/cork-board.png)
}

#text{
    min-height: 100px;
    min-width: 300px;
    vertical-align: top;
}