<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/burger_style.css">
    <!-- JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    {{!-- JS --}}
    <script src="/assets/js/burger.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>