/*my name brand defined seperate of rest of navbar*/
#brandname {
    width: 300px;
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 36px;
}

.container{
    background-color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer {
    height: 60px;
}

#header {
    background-color: midnightblue;
    width: 100%;
}

.nav-link {
    color: white;
}

#footer-links {
    color: whitesmoke;
}

/*Define the differences in format for different widths of the screen*/
@media screen and (max-width: 576px) {
    #navLinks{
        justify-content: center;
    }
    nav{
        max-width: 540px;
    }
    .navbar-nav .nav-link{
        padding-right: 16px;
        padding-left: 16px;
    }
}
    
@media screen and (min-width: 576px){
    #navLinks{
        justify-content: flex-end;
    }
    nav{
        max-width: 540px;
    }
    #bioImage{
        width: 100%;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px){
    nav{
        max-width: 720px;
    }
    #bioImage{
        width: 100%;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 992px){
    nav{
        max-width: 960px;
    }
    #bioImage{
        width: 300px;
    }
}

@media screen and (min-width: 1200px){
    nav{
        max-width: 1140px;
    }
    #bioImage{
        width: 400px;
    }
}





