header{
    color: firebrick;
    font-family: 'Kaushan Script', cursive;
    background-color: cornsilk;
}

h2{
    font-size: 48px;
}

h3{
    font-family: 'Caesar Dressing', cursive;
}

.body{
    background-image: url(../images/questionmark_bg.jpg);
}

.btn{
    color: dimgray;
    background-color: ghostwhite;
}

.col-md-6{
    background-color: dimgray;
    color: ghostwhite;
    border: 2px solid black;
}

#timeLeft{
    font-family: 'Press Start 2P', cursive;
    text-align: right;
    color: black;
}

.container{
    margin-top:100px;
}

#results,
#rules-two,
#high-scores,
#rules{
    background-color: dimgray;
    color: ghostwhite;
    padding: 10px;
}

#quiz-two,
#quiz{
    background-color: dimgray;
    color:ghostwhite;
}

.scores,
.correctness{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.scores{
    margin-bottom: 50px;
}