/*Define the card body for portfolio page*/
.card-body{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
}

a{
    text-align: center;
    color:#666666;
    padding: 6px;
}

/*my name brand defined seperate of rest of navbar*/
.navbar-brand{
    background-color: #4aaaa5;
    width: 600px;
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

h2{
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 3px solid #dddddd;
    padding: 15px 0 15px 0;
    font-weight: bold;
}

.container{
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

/*The background image so it can over all of the body*/
.backgroundPrism{
    background-image: url("../images/prism/prism.png");
}

/*generic footer that can be placed on all pages, hopefully sticky*/
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

/*this footer wasn't working the same as the other ones*/
.profileFooter{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.navbar{
    display: flex;
    margin: 0 auto;
    padding: 0 0 0 0;
    background-color: white;
}

/*just a give a little separation between rows and from the sides*/
.col-md-6{
    padding-bottom: 25px;
}

.card-deck{
    padding-right: 30px;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar-nav{
    flex-direction: row;
}

/*Gives the color of navbar all across the screen and lets the links and namebrand stay centered*/
#header{
    width: 100%;
    background-color: white;
}

/*Define the differences in format for different widths of the screen*/
@media screen and (max-width: 576px) {
    #navLinks{
        justify-content: center;
    }
    nav{
        max-width: 540px;
    }
    .navbar-nav .nav-link{
        padding-right: 16px;
        padding-left: 16px;
    }
}
    
@media screen and (min-width: 576px){
    #navLinks{
        justify-content: flex-end;
    }
    nav{
        max-width: 540px;
    }
    #bioImage{
        width: 100%;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px){
    nav{
        max-width: 720px;
    }
    #bioImage{
        width: 100%;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 992px){
    nav{
        max-width: 960px;
    }
    #bioImage{
        width: 300px;
    }
}

@media screen and (min-width: 1200px){
    nav{
        max-width: 1140px;
    }
    #bioImage{
        width: 400px;
    }
}





